<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <img src="https://cannogacollege.ca/images/logo-cannoga.png" alt="Cannoga College Logo" style="max-width: 90px; height: auto;" />
    </div>
    <p>Dear Student / User,</p>
    <p>We received a request to reset the password for your Cannoga College portal account associated with <strong>{{ .Email }}</strong>.</p>
    <p>Please click the link below to set a new password:</p>
    <p><a href="{{ .ConfirmationURL }}">Reset Your Password</a></p>
    <p>If you did not request a password reset, you can safely ignore this email. Your password will remain unchanged.</p>
    <p>Warm regards,<br>
    Office of Information Technology & Security<br>
    Cannoga College<br>
    support@cannogacollege.ca<br>
    https://cannogacollege.ca</p>
</body>
</html>
