[dotenv@17.2.3] injecting env (5) from .env -- tip: ≡ƒùé∩╕Å backup and recover secrets: https://dotenvx.com/ops
UPDATE "Faculty" SET name = 'Tanja Thomas' WHERE id = '9e8d0e5e-492f-4af5-b638-2c5c454cd38c';
UPDATE "Faculty" SET name = 'Olivia Schuster' WHERE id = 'd2ddb26f-5a00-4132-9ef3-59c1b176e3cb';
UPDATE "Faculty" SET name = 'Emilia Hernandez' WHERE id = 'd866fe51-553f-496e-9f3c-1fc1b72bc642';
UPDATE "Faculty" SET name = 'Marco Berger' WHERE id = '3b2d2760-2b1b-4141-9dd7-ed0659fbb070';
UPDATE "Faculty" SET name = 'Bj├╢rn Heinonen' WHERE id = '0efdd0c7-2b75-4b56-a53b-a7ab7f67c3ae';
UPDATE "Faculty" SET name = 'Elias Rodriguez' WHERE id = '66e44d4c-de65-4186-baab-1dc3bac681b0';
UPDATE "Faculty" SET name = 'Hassan O''Connor' WHERE id = '792d90b9-f549-4ba3-b840-c0b978963bf2';
UPDATE "Faculty" SET name = 'Emma Singh' WHERE id = 'e38a8219-76fd-4c99-a878-eaf30bc635db';
UPDATE "Faculty" SET name = 'Alice Salminen' WHERE id = 'd8f5f953-4975-4cea-967c-5aff5125a7b0';
UPDATE "Faculty" SET name = 'Daniel Lehtonen' WHERE id = '8e91ab55-d2b1-454f-b78a-e2e7533ffc1a';
UPDATE "Faculty" SET name = 'Sophie Leroy' WHERE id = '77d08aa8-90e0-4e16-bb3c-a7910c6d45aa';
UPDATE "Faculty" SET name = 'Jouko Sanchez' WHERE id = 'b49b6714-e04a-44dd-8289-0fd52cb82ac1';
UPDATE "Faculty" SET name = 'Anders Durand' WHERE id = 'c29751a5-7fbb-4dff-8743-6c82f6bf1da7';
UPDATE "Faculty" SET name = 'Hanna Windsor' WHERE id = 'b6124bd9-b033-4bca-9043-10967cbbef38';
UPDATE "Faculty" SET name = 'Chiara Yoshida' WHERE id = 'c2b2b1f7-cdc3-448a-8371-1c2b3a488c79';
UPDATE "Faculty" SET name = 'Dr. Louis Langdon' WHERE id = '8e52b0b1-a3f8-409c-8c9c-2174ef43aac0';
UPDATE "Faculty" SET name = 'Dr. Matilda Yamamoto' WHERE id = 'a62234bf-b1b6-47dd-b472-3811e2d3eb14';
UPDATE "Faculty" SET name = 'Dr. Jussi Rossi' WHERE id = '8ac4a4b7-3d05-46a1-b2d3-d7d1d600b158';
UPDATE "Faculty" SET name = 'Dr. Manon Lassila' WHERE id = '3a5f7062-328e-43f2-bbda-706d9773b243';
UPDATE "Faculty" SET name = 'Dr. Lars Johnson' WHERE id = 'b2a4d842-f76d-49fa-b0e4-b521820f5858';
UPDATE "Faculty" SET name = 'Dr. Elena Martin' WHERE id = '3c4cca91-8905-44cd-bd91-a271e1ee03d2';
UPDATE "Faculty" SET name = 'Dr. Matti Johansson' WHERE id = 'b963d8a1-6c8d-446c-b16b-e90838927136';
UPDATE "Faculty" SET name = 'Dr. Kirsi Ahonen' WHERE id = '98a97da9-436b-420c-81fe-69c19f34bba8';
UPDATE "Faculty" SET name = 'Dr. Giovanni Takahashi' WHERE id = '35dd4890-9da8-4234-87af-9f1861f9ecc3';
UPDATE "Faculty" SET name = 'Dr. Linnea K├╢nig' WHERE id = '66419dca-fbfb-4acd-a70d-2d8034be0129';
UPDATE "Faculty" SET name = 'Dr. P├ñivi Tolvanen' WHERE id = '674f5e52-be05-4444-a1f3-a010218c467e';
UPDATE "Faculty" SET name = 'Dr. Hans Smith' WHERE id = '8ce8edda-2848-4ab8-80e7-c7b381d0afb9';
UPDATE "Faculty" SET name = 'Dr. Jack Persson' WHERE id = '21cbcd05-c31f-4777-a005-7f14d9203b20';
UPDATE "Faculty" SET name = 'Dr. Magnus Nielsen' WHERE id = '62a04836-d4c8-4060-a3b3-fbed7076e550';
UPDATE "Faculty" SET name = 'Dr. Ali Vogel' WHERE id = '2ff042bc-2982-45a9-9164-ae16d2343e86';
UPDATE "Faculty" SET name = 'Dr. Mohamed Dupont' WHERE id = 'ecd9703a-6a80-4618-b840-928cc0e5ef21';
UPDATE "Faculty" SET name = 'Dr. Lucia J├ñrvinen' WHERE id = 'b4314d6e-3dc4-4d47-95e2-a91a1847ba67';
UPDATE "Faculty" SET name = 'Dr. Gabriel David' WHERE id = '9260850f-7051-4c0c-a357-396ec42a48f9';
UPDATE "Faculty" SET name = 'Marie Koskinen' WHERE id = '0030c613-b2d1-4fa6-8db3-45a27756e491';
UPDATE "Faculty" SET name = 'Omar Schwarz' WHERE id = 'e9dfab3b-39de-4765-97f7-36e5c8b821d8';
UPDATE "Faculty" SET name = 'Eric Suzuki' WHERE id = '00ee5147-d538-4e1e-b7b6-63a2120a1123';
UPDATE "Faculty" SET name = 'Julia Roberts' WHERE id = 'becc2701-95ab-4f02-96a4-2e530e79830c';
UPDATE "Faculty" SET name = 'Ari Graf' WHERE id = '22915b02-8f9c-4c4d-9ed5-c9bf72ce2c96';
UPDATE "Faculty" SET name = 'Henrik Ludwig' WHERE id = '4e89c773-c8fe-4f12-b6fb-df3ccf7e8838';
UPDATE "Faculty" SET name = 'Alessandro Zhang' WHERE id = '8983436d-2d22-455d-9c55-e23f0356335d';
UPDATE "Faculty" SET name = 'Chlo├⌐ Moreau' WHERE id = '04df4102-7f23-4e91-a4b0-13c681df5a87';
UPDATE "Faculty" SET name = 'Marcus K├╢hler' WHERE id = '98a4411c-2b81-48f9-b637-a7d111c38f44';
UPDATE "Faculty" SET name = 'Eeva Mayer' WHERE id = 'aa9903cc-e756-4530-b93f-78f54ff21e9a';
UPDATE "Faculty" SET name = 'Pirjo Haas' WHERE id = 'aa45fb0b-86d8-49bc-a7f4-8f0d30ca80f4';
UPDATE "Faculty" SET name = 'Julian Aaltonen' WHERE id = '0c51ca16-d483-418c-b80e-7b8102376266';
UPDATE "Faculty" SET name = 'Lucas Morozov' WHERE id = '676c9852-b879-45b7-b0dc-f474967f817f';
UPDATE "Faculty" SET name = 'Marko Schulze' WHERE id = 'def2cbbc-b53f-4d07-abc3-d40bae9f80e6';
UPDATE "Faculty" SET name = 'Maya Taylor' WHERE id = 'a5aab828-e60a-4df6-a98c-1be216940dc7';
UPDATE "Faculty" SET name = 'Liam Rantanen' WHERE id = '4a488761-db7f-4a5d-9bb3-b6bdd235bfdb';
UPDATE "Faculty" SET name = 'Takumi Walter' WHERE id = '2fe03baf-fb53-4a34-b95b-0d20199c0cdc';
UPDATE "Faculty" SET name = 'Sebastian Winter' WHERE id = 'a04a452c-93e5-4e5f-a9d8-46bc01fd4ce4';
UPDATE "Faculty" SET name = 'Amara Torres' WHERE id = '1a339d84-2463-4d17-afeb-cd505621732f';
UPDATE "Faculty" SET name = 'Leonardo Kuznetsov' WHERE id = 'b14134a0-4cba-4680-b590-71b0f8de3441';
UPDATE "Faculty" SET name = 'Pekka Albrecht' WHERE id = '245073e3-24ff-42f8-9955-6b34df8ffac8';
UPDATE "Faculty" SET name = 'Venla Hiltunen' WHERE id = '2c875537-c57b-4184-8cb8-86cc653c08c3';
UPDATE "Faculty" SET name = 'Ismo Sato' WHERE id = '4c22d12b-5805-452b-8d2c-3bc1e8ee1a78';
UPDATE "Faculty" SET name = 'Jean-Luc Moretti' WHERE id = '2b6b91ed-bc26-4c30-9597-787d6f4f7f2c';
UPDATE "Faculty" SET name = 'Diego Lopez' WHERE id = '4982897d-5775-42cb-93e8-0f489e318c45';
UPDATE "Faculty" SET name = 'Anne Kr├╝ger' WHERE id = 'a867ee2c-7529-4d5a-adaa-2d0838d4ea83';
UPDATE "Faculty" SET name = 'Hannah Wolf' WHERE id = 'fae75424-95ec-484f-bacf-9e4825d59fc8';
UPDATE "Faculty" SET name = 'Arthur Schreiber' WHERE id = 'a4afabb7-d2bc-4155-a192-97922f2f02bc';
UPDATE "Faculty" SET name = 'Kati Jokinen' WHERE id = 'f9caa885-5511-4486-be09-486fb90ab77f';
UPDATE "Faculty" SET name = 'Pentti Dietrich' WHERE id = 'd854931f-ca93-427a-8750-423df9555fa5';
UPDATE "Faculty" SET name = 'Charlotte Kr├ñmer' WHERE id = 'fc3b1fe8-fe8f-4b37-b244-bab637ca6e1d';
UPDATE "Faculty" SET name = 'Camille Tanaka' WHERE id = 'be499242-c926-4e9e-be76-d1a94113f95b';
UPDATE "Faculty" SET name = 'Marja Wilson' WHERE id = '56547373-10d5-4b1e-b9b6-366851b64dae';
UPDATE "Faculty" SET name = 'Mei Holm' WHERE id = 'f52951a5-e0a5-4136-961e-1e7d796c48df';
UPDATE "Faculty" SET name = 'Astrid Watanabe' WHERE id = '88b7d765-ae2f-46ff-8e71-c2f562b24cf3';
UPDATE "Faculty" SET name = 'Leo Manninen' WHERE id = '2087e27b-d37b-4eec-8b83-4655f6056c3b';
UPDATE "Faculty" SET name = 'Tarja Turunen' WHERE id = 'aaebfca7-8342-4c10-a455-4ba1cd26dea0';
UPDATE "Faculty" SET name = 'Antti Nakamura' WHERE id = '33601856-202a-44fe-9976-94543ba15444';
UPDATE "Faculty" SET name = 'Timo Sommer' WHERE id = '2688254f-c00d-4118-bcee-a972caaf18c8';
UPDATE "Faculty" SET name = 'Amir Kaiser' WHERE id = '36d93aa8-a5f9-4724-8e6a-b9de45bc54cc';
UPDATE "Faculty" SET name = 'Adam Ito' WHERE id = 'e782da59-05ce-4fb4-b6d7-014395da1d4d';
UPDATE "Faculty" SET name = 'Heidi Richter' WHERE id = '7790a8b3-2b15-4992-84ee-17d3a31dd871';
UPDATE "Faculty" SET name = 'Sarah Kato' WHERE id = 'ab8aec34-6af5-4908-be79-da01153e33c4';
UPDATE "Faculty" SET name = 'Harri Karjalainen' WHERE id = '32a7ae4d-5235-423d-b564-43fad0e2d87a';
UPDATE "Faculty" SET name = 'Aisha Engel' WHERE id = '390bb33a-483e-47d4-8b4c-86bd6b5d743a';
UPDATE "Faculty" SET name = 'Pasi Martinez' WHERE id = 'd74dcf7d-eeb2-43ac-8602-7a7853bb1483';
UPDATE "Faculty" SET name = 'Hugo Twist' WHERE id = '930a6e6f-4305-4db1-8bda-22d28f4be039';
UPDATE "Faculty" SET name = 'Ibrahim Baumann' WHERE id = 'eb365a73-e814-4215-a7af-9ed4d4f22af7';
UPDATE "Faculty" SET name = 'Aino Chen' WHERE id = 'a0c950e2-dd9d-41da-b3ef-111ba5f7ebdf';
UPDATE "Faculty" SET name = 'Silvia Novikov' WHERE id = '2f9e60ca-c300-4f41-ac45-c1dc12fc4e47';
UPDATE "Faculty" SET name = 'Kimmo Koch' WHERE id = '1325cac3-e65e-4413-86ee-85d496f08ff0';
UPDATE "Faculty" SET name = 'Kenji Korhonen' WHERE id = '06722cb9-ede3-4b6f-9b20-d89d4ee1ec74';
UPDATE "Faculty" SET name = 'Eva G├╝nther' WHERE id = 'b1fc3b16-9fad-48a6-a94a-bdddf84c73f4';
UPDATE "Faculty" SET name = 'Felix Lehmann' WHERE id = '73317449-086a-4475-a4f1-e329425c436a';
UPDATE "Faculty" SET name = 'Risto Adler' WHERE id = 'd43916fb-55dc-4489-a633-b3db6128f002';
UPDATE "Faculty" SET name = 'James Kraus' WHERE id = '3901c313-33b5-4790-a28e-6b14b1a592da';
UPDATE "Faculty" SET name = 'Tommi Lindberg' WHERE id = '7ee12dbc-3b58-4e80-aac3-f53497c5577f';
UPDATE "Faculty" SET name = 'Prof. Jenni Schmitt' WHERE id = '606a4edd-0353-44f8-9bbc-b5353ab04d69';
UPDATE "Faculty" SET name = 'Prof. Johan Savolainen' WHERE id = '2afddca0-c895-411a-90a8-482c7a65a9d8';
UPDATE "Faculty" SET name = 'Prof. David Lange' WHERE id = '80814ba2-5efb-4ba6-8e22-f21a90b59449';
UPDATE "Faculty" SET name = 'Prof. Klaus Lindholm' WHERE id = '3c274841-7d6c-4922-b019-5f4da121d234';
UPDATE "Faculty" SET name = 'Prof. Jun H├ñm├ñl├ñinen' WHERE id = '850d5591-66aa-46cd-b5c5-203e94bd27c8';
UPDATE "Faculty" SET name = 'Prof. Ville Gonzalez' WHERE id = '1cb6f63d-43b0-4c8a-92e1-4a5dcbd3517d';
UPDATE "Faculty" SET name = 'Prof. Wei Simon' WHERE id = 'e69c81d9-6e25-4299-907b-f357d1767d05';
UPDATE "Faculty" SET name = 'Prof. Ingrid Lefebvre' WHERE id = 'fba3b91d-6dc6-49b9-9331-ebbe3725a76a';
UPDATE "Faculty" SET name = 'Prof. Jules Schubert' WHERE id = '2680c3c7-8cbc-4f0e-bb6f-f5bd1860615a';
UPDATE "Faculty" SET name = 'Prof. Hiroshi Laaksonen' WHERE id = '5eb2f224-8992-49f7-97e3-a02ac2f119ed';
UPDATE "Faculty" SET name = 'Prof. Axel Fischer' WHERE id = '3b4df971-3ee6-490b-a3f2-608887eca9e9';
UPDATE "Faculty" SET name = 'Prof. Nathan Hofmann' WHERE id = '1e836045-70d6-4b4a-bfcf-130f3f089c86';
UPDATE "Faculty" SET name = 'Prof. Tuula Sauer' WHERE id = '112369d0-2198-4781-abfe-9957f383d339';
UPDATE "Faculty" SET name = 'Prof. Isabella Conti' WHERE id = 'a214c76c-77f8-4521-afbe-9e63d240a67d';
UPDATE "Faculty" SET name = 'Prof. Minna Vogt' WHERE id = '842e1fc5-9b4d-47db-9fdd-44d5ec42866f';
UPDATE "Faculty" SET name = 'Prof. Elizabeth Niemi' WHERE id = '6ddbf8ef-e176-48e1-a174-92c8c00e2d06';
UPDATE "Faculty" SET name = 'Prof. Francesca Stern' WHERE id = 'd5f4a6f5-6975-4892-92f7-1f307f40b658';
UPDATE "Faculty" SET name = 'Prof. Sanna Schmidt' WHERE id = '34cc05d0-8701-4e27-9a12-9be24c56983b';
UPDATE "Faculty" SET name = 'Prof. Maximilian Evans' WHERE id = 'a6b8a0f2-9949-40c2-95a2-518b00ce850d';
UPDATE "Faculty" SET name = 'Prof. Fatima Laurent' WHERE id = '05054581-fc50-488e-8e83-af5b9b1c6a15';
UPDATE "Faculty" SET name = 'Prof. Ma├½l Bauer' WHERE id = '93255408-b000-444a-a89c-3c894953de86';
UPDATE "Faculty" SET name = 'Prof. Seija Liu' WHERE id = '0ca83ac5-bcdd-49d7-bc70-c3fcfff9d63e';
UPDATE "Faculty" SET name = 'Prof. Grace Kobayashi' WHERE id = '74bd7afa-4462-4d8e-8369-975094396dff';
UPDATE "Faculty" SET name = 'Prof. Jari Laine' WHERE id = '33a55fa6-6d32-4e22-9ce1-b5b92f6b9831';
UPDATE "Faculty" SET name = 'Prof. Vesa Brandt' WHERE id = '3abfe035-9558-47ec-922c-03eea2391497';
UPDATE "Faculty" SET name = 'Prof. Zara Sokolov' WHERE id = '8e6aa9f1-0f75-4264-b821-391a3b050371';
UPDATE "Faculty" SET name = 'Prof. Li Kumar' WHERE id = '95120575-badd-407e-a048-eba81414cbe4';
UPDATE "Faculty" SET name = 'Prof. Olavi Kuhn' WHERE id = 'fe347513-3179-42ac-a965-73a28bdb148b';
UPDATE "Faculty" SET name = 'Prof. Samuel M├ñkinen' WHERE id = '541a3056-e306-4437-ab40-d6b3d594940d';
UPDATE "Faculty" SET name = 'Prof. Carmen Ojala' WHERE id = 'cffe6827-c9e7-4b59-a2c5-5dd3260031c7';
UPDATE "Faculty" SET name = 'Prof. Anja Fuchs' WHERE id = '0426a586-5bd8-4083-80dc-9cf7c7b96670';
UPDATE "Faculty" SET name = 'Prof. Benjamin Winkler' WHERE id = '19ad0879-38c8-45a9-8563-8e2026e56a16';
UPDATE "Faculty" SET name = 'Prof. Paul Fontaine' WHERE id = '275cacdd-76a5-45de-aaf9-fbaf988fb2c2';
UPDATE "Faculty" SET name = 'Prof. Yuki Heikkinen' WHERE id = 'eccae16e-f965-4a85-96a1-f29969f29ed7';
UPDATE "Faculty" SET name = 'Prof. Jukka Braun' WHERE id = '64546a31-0f5a-44e6-a9c0-020f4baa97d1';
UPDATE "Faculty" SET name = 'Prof. Robert Pohl' WHERE id = 'f59a9a66-5e24-4c97-80dc-b4314b45a1b9';
UPDATE "Faculty" SET name = 'Prof. Oscar Meier' WHERE id = '7ea3ce72-72fa-4465-9217-03f0c6b28c60';
UPDATE "Faculty" SET name = 'Prof. Thomas Schumacher' WHERE id = '3f3278a0-e3b6-4333-bd5c-098723e93bb4';
UPDATE "Faculty" SET name = 'Prof. Ilmari Scholz' WHERE id = 'aacee5ba-8468-4221-8c09-e66300bc8cdc';
UPDATE "Faculty" SET name = 'Prof. Adrian Patel' WHERE id = '49c324cf-7584-4549-8e71-2a514c545f7a';
UPDATE "Faculty" SET name = 'Prof. Markku Lorenz' WHERE id = '66e2d3ad-0ac0-4c52-9dd8-8a567ea5afdf';
UPDATE "Faculty" SET name = 'Prof. Zainab Laitinen' WHERE id = 'dabb38e6-e1da-4c7a-a6f6-c0d8af1b08af';
UPDATE "Faculty" SET name = 'Prof. Heikki Michel' WHERE id = '623eebf6-2f3d-4b47-9c49-11d01d1b1c40';
UPDATE "Faculty" SET name = 'Prof. Layla Bergmann' WHERE id = 'f26e8aec-71b4-474a-a26e-b6eb36f2304f';
UPDATE "Faculty" SET name = 'Prof. Yusuf Huber' WHERE id = '2810f8b2-bf77-4f59-9fe5-f40baedf9b0f';
UPDATE "Faculty" SET name = 'Prof. Hannu Ivanov' WHERE id = '6baebbae-fbbc-48a9-aab9-d55b3ebf0c11';
UPDATE "Faculty" SET name = 'Prof. Sofia Beck' WHERE id = '4d1810f1-c4eb-4447-9edd-102763cfdc2d';
UPDATE "Faculty" SET name = 'Prof. Sami Tuominen' WHERE id = '847577da-c135-45fe-8cd0-40c0cd56ab72';
UPDATE "Faculty" SET name = 'Prof. L├⌐a Romero' WHERE id = '9ecc5b0b-b557-4fe1-82aa-1989452c7fdd';
UPDATE "Faculty" SET name = 'Prof. Martina Popova' WHERE id = '09216822-d726-433c-9095-186976ce3668';
UPDATE "Faculty" SET name = 'Prof. Maryam Maier' WHERE id = '085d4085-65c7-4e34-a8aa-1b5cdd94fa3a';
UPDATE "Faculty" SET name = 'Prof. Toivo Larsson' WHERE id = '19f8ed3b-e2d9-4ba3-b288-1d3851cb56cc';
UPDATE "Faculty" SET name = 'Prof. Santiago Pitk├ñnen' WHERE id = 'ddb198c8-9565-488d-b0b9-696ef5fc5a2f';
UPDATE "Faculty" SET name = 'Prof. Riitta Picard' WHERE id = '77f4b8ce-7bb9-40ce-9362-36c0aa25a42e';
UPDATE "Faculty" SET name = 'Prof. Noor Anttila' WHERE id = 'ac43c57e-6b1e-4d7a-9ed9-807aa1faac53';
UPDATE "Faculty" SET name = 'Prof. Otso M├╢ller' WHERE id = 'a4bff278-383d-4c8e-8509-72b4aefb1fe2';
UPDATE "Faculty" SET name = 'Prof. Camila Popov' WHERE id = '8bb6d6cb-dd81-4478-bc93-4410d6b37c4d';
UPDATE "Faculty" SET name = 'Prof. Oliver Kozlov' WHERE id = '7c3b0f3b-9515-49aa-a1e3-92667be256b6';
UPDATE "Faculty" SET name = 'Prof. Ethan M├╝ller' WHERE id = '3a142860-6bb0-4b08-8bc5-56b3cff5aaee';
UPDATE "Faculty" SET name = 'Prof. Mikael Becker' WHERE id = 'd57ec28f-a0d5-4a45-8a00-6a90afb26af4';
UPDATE "Faculty" SET name = 'Prof. Nora Schneider' WHERE id = '9be1011b-dee6-413c-958a-b097fecfd7f2';
UPDATE "Faculty" SET name = 'Prof. Janne Lepp├ñnen' WHERE id = 'bc570ea6-dc76-4207-a2db-289107ea990f';
UPDATE "Faculty" SET name = 'Prof. William Frank' WHERE id = 'dc75881f-e939-47c6-aefe-dd74ccc95b86';
UPDATE "Faculty" SET name = 'Prof. Elsa Jung' WHERE id = '3488efc3-4ec5-49f9-8f8d-67bf86745e1b';
UPDATE "Faculty" SET name = 'Prof. Kari Hartmann' WHERE id = '882386fb-fd30-4589-8079-f2bb3aae73ce';
UPDATE "Faculty" SET name = 'Prof. Tiina Garcia' WHERE id = '993ecc38-da2c-408b-be69-2c89b1acf910';
UPDATE "Faculty" SET name = 'Prof. V├ñin├╢ Lee' WHERE id = '16ef2cfd-d4b1-4dbf-bc17-ff466743729d';
UPDATE "Faculty" SET name = 'Prof. Clara Svensson' WHERE id = 'a26c728a-1bf5-4f17-b773-2efa0fb9da75';
UPDATE "Faculty" SET name = 'Prof. Alexander Smirnov' WHERE id = '046a7892-772e-4948-93a3-1d5bdc9bc38a';
UPDATE "Faculty" SET name = 'Prof. Petri Otto' WHERE id = 'c9e67225-4976-4b94-8390-5cea9fe21872';
UPDATE "Faculty" SET name = 'Prof. Vera V├ñis├ñnen' WHERE id = 'f3a8894d-1996-40c4-a31a-ebe71c891ff8';
UPDATE "Faculty" SET name = 'Prof. Vilho Voigt' WHERE id = '24db789c-fa07-4eb1-b731-fcc4ab04e081';
UPDATE "Faculty" SET name = 'Juha Kemppainen' WHERE id = 'bd96b4ad-03d6-458c-88dd-95c0f00fbf63';
UPDATE "Faculty" SET name = 'Victor Hoffmann' WHERE id = 'bea3827c-39b6-400b-bfe3-c51d35f76b45';
UPDATE "Faculty" SET name = 'Ulla Dubois' WHERE id = 'd16c8f5d-1c3c-488b-baa4-60ee6ca85478';
UPDATE "Faculty" SET name = 'Eero Roux' WHERE id = 'a8aa1997-2202-411e-989e-9f7975898e56';
UPDATE "Faculty" SET name = 'Noah Mustonen' WHERE id = '188a64a5-c4e3-49ce-ac2f-411dc9aa05a8';
UPDATE "Faculty" SET name = 'Onni Park' WHERE id = 'cbe9be1e-fb1e-4730-a929-a8cc4668ed50';
UPDATE "Faculty" SET name = 'Eino Virtanen' WHERE id = 'bcffd0c8-6790-4433-a6b5-8abe63afb42f';
UPDATE "Faculty" SET name = 'Laura Stein' WHERE id = '693f2a06-2447-4419-bfed-dc5023d66757';
UPDATE "Faculty" SET name = 'Tobias Schmid' WHERE id = '9472d803-d400-43bf-8f37-22b3047e8480';
UPDATE "Faculty" SET name = 'Leena Hahn' WHERE id = 'aeb35848-f076-4b4f-b1fa-b778592d0f9e';
UPDATE "Faculty" SET name = 'Yasmin R├ñs├ñnen' WHERE id = 'b3643b8d-2ce8-4ec9-b683-9920c869fc6b';
UPDATE "Faculty" SET name = 'Mikko Watson' WHERE id = '368ad533-0efe-47d3-b68b-dbd10696c9dd';
UPDATE "Faculty" SET name = 'Satu Koivisto' WHERE id = 'd3002aa0-5a3e-484b-86ff-4be13309933d';
UPDATE "Faculty" SET name = 'Hana Bernard' WHERE id = 'b303ddb0-2891-46bf-b0e4-f98244dd21d1';
UPDATE "Faculty" SET name = 'Sari Curry' WHERE id = '4dce003b-c09f-4e76-b674-36a1e5fa098d';
UPDATE "Faculty" SET name = 'Kasper Bianchi' WHERE id = '5a136ea1-bc9e-4936-a057-01e60dfcdec5';
UPDATE "Faculty" SET name = 'Teemu Keller' WHERE id = '76fad7b1-3841-44de-9be3-6a204427a9d3';
UPDATE "Faculty" SET name = 'Sakura Lang' WHERE id = '1326aecb-05ab-4297-9660-d17b1777f728';
